/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Chakra UI CSS Variables */
  :root, [data-theme] {
    --chakra-ring-inset: var(--chakra-empty,/*!*/ /*!*/);
    --chakra-colors-transparent: transparent;
    --chakra-colors-white: #FFFFFF;
    --chakra-colors-gray-25: #fcfcfd;
    --chakra-colors-gray-100: #f3f4f6;
    --chakra-colors-gray-200: #e5e7eb;
    --chakra-colors-gray-500: #6b7280;
    --chakra-colors-gray-600: #4b5563;
    --chakra-colors-gray-700: #374151;
    --chakra-colors-gray-800: #1f2937;
    --chakra-colors-gray-900: #111827;
    --chakra-colors-brand-300: #7dd3fc;
    --chakra-colors-brand-700: #0369a1;
    --chakra-fonts-body: Inter,-apple-system,BlinkMacSystemFont,system-ui,sans-serif;
    --chakra-fontSizes-md: 1rem;
    --chakra-lineHeights-base: 1.5;
    --chakra-lineHeights-tall: 1.625;
    --chakra-space-4: 1rem;
    --chakra-space-6: 1.5rem;
    --chakra-space-12: 3rem;
    --chakra-space-16: 4rem;
    --chakra-space-24: 6rem;
    --chakra-sizes-prose: 60ch;
    --chakra-sizes-container-sm: 640px;
    --chakra-transition-duration-normal: 200ms;
  }

  :root[data-theme="light"], [data-theme][data-theme="light"] {
    --chakra-colors-chakra-body-text: var(--chakra-colors-gray-800);
    --chakra-colors-chakra-body-bg: var(--chakra-colors-white);
    --chakra-colors-chakra-border-color: var(--chakra-colors-gray-200);
    --chakra-colors-chakra-inverse-text: var(--chakra-colors-white);
    --chakra-colors-chakra-subtle-bg: var(--chakra-colors-gray-100);
    --chakra-colors-chakra-subtle-text: var(--chakra-colors-gray-600);
    --chakra-colors-chakra-placeholder-color: var(--chakra-colors-gray-500);
  }
}

@layer base {
  /* Global styles */
  :where(*) {
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
  }

  * {
    border-color: var(--chakra-colors-chakra-border-color);
  }

  * {
    border-color: var(--chakra-colors-gray-200);
  }

  *, :before, :after {
    border-color: var(--chakra-colors-chakra-border-color);
  }

  :where(blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre) {
    margin: 0px;
  }

  a {
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
  }

  /* Body styles */
  html {
    line-height: 1.5;
    text-size-adjust: 100%;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    touch-action: manipulation;
    background: var(--chakra-colors-gray-25);
    color: var(--chakra-colors-gray-900);
    font-feature-settings: "rlig", "calt";
    letter-spacing: -0.011em;
  }

  body {
    font-family: var(--chakra-fonts-body);
    color: var(--chakra-colors-chakra-body-text);
    background: var(--chakra-colors-chakra-body-bg);
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);
    background: var(--chakra-colors-gray-25);
    color: var(--chakra-colors-gray-900);
    font-feature-settings: "rlig", "calt";
    letter-spacing: -0.011em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-height: 100%;
    font-feature-settings: "kern";
    transition: opacity ease-in 0.2s;
  }

  /* Link styles */
  .css-8xkugk {
    cursor: pointer;
    text-decoration: none;
    outline: transparent solid 2px;
    outline-offset: 2px;
    color: #0284c7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--chakra-colors-transparent);
    transition: 0.15s;
  }

  .css-8xkugk:hover {
    text-decoration: none;
    color: var(--chakra-colors-brand-700);
    border-color: var(--chakra-colors-brand-300);
  }

  /* Text styles */
  .css-gafzuq {
    font-size: var(--chakra-fontSizes-md);
    color: var(--chakra-colors-gray-700);
    line-height: var(--chakra-lineHeights-tall);
  }
}
